* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 0.3em;
}

*::-webkit-scrollbar-track {
    background: linear-gradient(rgb(0, 0, 25), rgb(0, 0, 60));
}

*::-webkit-scrollbar-thumb {
    border-radius: 2em;
    background-color: rgb(255, 0, 0);
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: radial-gradient(rgb(0, 0, 50), rgb(0, 0, 25));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 1000px;
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
    -webkit-user-select: none;
    user-select: none;
}

.hidethis {
    display: none !important;
}

#TulpaIcon {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    min-width: 300px;
    height: auto;
    z-index: -5;
    overflow: hidden;
}

.container {
    padding: 2rem;
    border: 3px outset rgb(192, 192, 192);
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(255, 0, 0);
    width: 90%;
    max-width: 400px;
    min-width: 250px;
    color: rgb(192, 192, 192);
    font-size: 20px;
    background: radial-gradient(rgba(0, 0, 100, 0.85), rgba(0, 0, 25, 0.85));
    animation: pulseLight 2s infinite;
    transition: opacity 0.5s ease, transform 1s ease;
    z-index: 10;
}

.container.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
}

.main-container {
    border: 3px outset rgb(192, 192, 192);
    box-shadow: 0 0 15px rgb(255, 0, 0);
    border-radius: 2.5em 5em;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 2.75em;
    margin: 1.25em;
    color: rgb(255, 215, 0);
    animation: pulseLight 2s infinite;
    transition: opacity 0.5s ease, transform 1s ease;
}

@keyframes pulseLight {
    0% {
        box-shadow: 0 0 15px rgb(255, 0, 0);
    }

    50% {
        box-shadow: 0 0 40px rgb(255, 0, 0);
    }

    100% {
        box-shadow: 0 0 15px rgb(255, 0, 0);
    }
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: rgb(192, 192, 192);
    font-size: 0.9rem;
}

.login {
    height: auto;
}

.register {
    margin-top: 2%;
    height: auto;
}

forgot-password-link {
    color: rgb(255, 215, 0);
}

.container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.btn {
    display: inline-block;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
    width: 100%;
    padding: 0.7em 1em;
    text-align: left;
    margin-bottom: 1em;
    border: 2px inset rgb(192, 192, 192);
    border-radius: 0.3em;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(192, 192, 192);
    transition: color 0.5s ease, border 0.5s ease, box-shadow 0.5s ease;
}

.container input[type="text"]:focus,
.container input[type="email"]:focus,
.container input[type="password"]:focus {
    outline: none;
    border-color: rgb(255, 215, 0);
    box-shadow: 0 0 10px rgb(255, 215, 0);
    color: rgb(255, 215, 0);
}

.container input::placeholder {
    color: rgba(192, 192, 192, 0.6);
}

.container .btn {
    display: block;
    margin: 15px auto 5px auto;
    color: rgb(192, 192, 192);
    width: 150px;
    font-size: 20px;
    background: radial-gradient(rgb(0, 0, 100), rgb(0, 0, 50));
    border: 3px outset rgb(192, 192, 192);
    border-radius: 10px;
    padding: 8px 15px;
    transition: all 0.3s ease;
}

.container .btn:hover {
    border: 3px outset rgb(255, 215, 0);
    box-shadow: 0 0 15px rgb(255, 215, 0);
    color: rgb(255, 215, 0);
}

.container .btn:active {
    border: 3px inset rgb(255, 215, 0);
}

.changeMode {
    display: block;
    margin: 1rem auto 0 auto;
    width: auto;
    max-width: 200px;
    height: auto;
    padding: 5px 10px;
    text-align: center;
    font-size: 0.9rem;
    border: none;
    background: transparent;
    color: rgb(192, 192, 192);
    transition: all 0.5s ease;
    text-decoration: none;
}

.changeMode:hover {
    color: rgb(255, 215, 0);
    font-size: 1.1rem;
    text-decoration: underline;
    text-shadow: 0.3rem 0.2rem 0.25rem rgb(192, 192, 192);
}

.background-lines {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: -10;
}

.lineRed {
    position: absolute;
    height: 2px;
    width: 50%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(255, 0, 0), rgba(0, 0, 0, 0));
    animation: moveLine 10s linear infinite;
}

.lineGold {
    position: absolute;
    height: 2px;
    width: 50%;
    background: linear-gradient(90deg, transparent, rgb(255, 215, 0), transparent);
    animation: moveLine 10s linear infinite;
}

.line-1 {
    top: 5%;
    animation-duration: 10s;
}

.line-2 {
    top: 15%;
    animation-duration: 15s;
}

.line-3 {
    top: 25%;
    animation-duration: 20s;
}

.line-4 {
    top: 35%;
    animation-duration: 15s;
}

.line-5 {
    top: 45%;
    animation-duration: 20s;
}

.line-6 {
    top: 55%;
    animation-duration: 11s;
}

.line-7 {
    top: 65%;
    animation-duration: 15s;
}

.line-8 {
    top: 75%;
    animation-duration: 13s;
}

.line-9 {
    top: 85%;
    animation-duration: 18s;
}

.line-10 {
    top: 95%;
    animation-duration: 16s;
}

@keyframes moveLine {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(200%);
    }
}

.opacity0 {
    opacity: 0;
    pointer-events: none;
}

.hidden {
    visibility: hidden;
}

#LinkInfo {
    display: block;
    margin: 1rem auto 0 auto;
    width: auto;
    height: auto;
    padding: 5px 10px;
    text-align: center;
    font-size: 1em;
    border: none;
    background: transparent;
    color: rgb(192, 192, 192);
    transition: all 0.5s ease;
    text-decoration: none;
}

#LinkInfo:hover {
    color: rgb(255, 215, 0);
    text-decoration: underline;
    font-size: 1.1em;
    text-shadow: 0.3em 0.2em 0.25em rgb(192, 192, 192);
}

.impressum {
    position: fixed;
    bottom: 0.75rem;
    color: rgb(192, 192, 192);
    text-shadow: 0 0 0.15em rgb(0, 0, 0);
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    transition: color 0.5s ease, font-size 0.5s ease;
}

.impressum:hover {
    color: gold;
    font-size: 1.1rem;
}

#passwordMatchError {
    color: red;
    font-size: 0.8em;
    display: block;
    margin-top: 5px;
}

.input-error {
    border-color: red !important;
    box-shadow: 0 0 10px red !important;
}

.message-area {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    word-break: break-word;
    font-size: 0.9em;
}

.message-area.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message-area.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.TulpaKingTitle {
    font-size: 2.5em;
    font-weight: bolder;
    text-shadow: 0.1em 0.05em 0.15em rgb(255, 0, 0);
}

#forgot-password-form button,
#forgot-password-form input {
    border: 2px outset rgb(255, 215, 0);
    border-radius: 2.5em;
    background: radial-gradient(rgb(0, 0, 50), rgb(0, 0, 100));
    color: rgb(255, 215, 0);
    font-size: 1.05rem;
    font-weight: bold;
    padding: 0.75em;
    margin: 0.1em;
    transition: all 0.3s ease;
}

#forgot-password-form input {
    width: 13em;
}

#forgot-password-form button:hover {
    transform: scale(1.1);
}

#forgot-password-form button:active {
    transform: scale(0.9);
}

.back-link,
.forgot-password-link {
    color: rgba(255, 215, 0, 0.5);
    transition: all 0.3s ease;
}

.back-link:hover,
.forgot-password-link:hover {
    color: rgb(255, 215, 0);
}

#reset-password-form button,
#reset-password-form input {
    border: 2px outset rgb(255, 215, 0);
    border-radius: 2.5em;
    background: radial-gradient(rgb(0, 0, 50), rgb(0, 0, 100));
    color: rgb(255, 215, 0);
    font-size: 1.05rem;
    font-weight: bold;
    padding: 0.75em;
    margin: 0.1em;
    transition: all 0.3s ease;
}

#reset-password-form button:hover {
    transform: scale(1.1);
}

#reset-password-form button:active {
    transform: scale(0.9);
}

#message-container {
    font-size: larger;
    font-weight: bolder;
    border-radius: 2em;
    max-width: 40em;
}

.success-message {
    padding: 1em;
    background-color: rgba(0, 255, 0, 0.2);
    color: rgb(0, 255, 0) !important;
}

.error-message {
    padding: 1em;
    background-color: rgba(255, 0, 0, 0.2);
    color: rgb(255, 0, 0) !important;
}

.agb-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.agb-container label {
    align-items: center;
    cursor: pointer;
}

.agb-container a {
    color: rgb(192, 192, 192);
    text-decoration: none;
    transition: all 0.3s ease;
}

.agb-container a:hover {
    color: rgb(255, 215, 0);
    font-size: 1.05em;
    text-decoration: underline;
}

.agb-container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.5em;
    height: 1.5em;
    border: 0.25em outset rgb(255, 215, 0);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    margin-right: 0.5em;
    border-radius: 0.4em;
    transition: all 0.3s ease;
}

.agb-container input[type="checkbox"]:hover {
    border-color: rgb(155, 0, 0);
}

.agb-container input[type="checkbox"]:checked {
    background-color: rgb(155, 115, 0);
    border-color: rgb(100, 70, 0);
}

.agb-container input[type="checkbox"]:checked::before {
    content: '\2713';
    font-size: 1em;
    color: rgb(192, 192, 192);
    display: block;
    text-align: center;
    line-height: 1.35em;
}

#agreementModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
}

.agreementModalStyle {
    background: radial-gradient(rgba(0, 0, 100, 0.85), rgba(0, 0, 25, 0.85));
    color: rgb(192, 192, 192);
    border: 0.25em ridge rgb(192, 192, 192);
    border-radius: 4em;
    padding: 1em;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    text-align: center;
}

.agreementModalStyle a {
    color: rgb(255, 215, 0);
}

.agreementModalStyle a:hover {
    text-shadow: 0 0 0.25em rgb(255, 0, 0);
}

#acceptBtn {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 1em;
    background: linear-gradient(rgb(0, 50, 0), rgb(0, 125, 0), rgb(0, 50, 0));
    color: rgb(200, 200, 200);
}

#acceptBtn:disabled {
    background: linear-gradient(rgb(0, 50, 0), rgb(0, 50, 0), rgb(0, 50, 0));
    color: rgb(100, 100, 100);
}

@media (max-width: 830px) {
    #TulpaIcon {
        top: 20px;
        width: 90%;
        min-width: unset;
    }

    .container {
        position: absolute;
        top: 2%;
        margin: 1rem;
        padding: 1.5rem;
        font-size: 18px;
        width: 80%;
    }

    .form-group label {
        font-size: 0.8rem;
    }

    .container .btn {
        width: 120px;
        font-size: 18px;
        padding: 6px 10px;
    }

    .changeMode {
        font-size: 0.85rem;
        max-width: 180px;
    }
}

@media (min-width: 1450px) {
    .container {
        max-width: 700px;
    }

    .container h2 {
        font-size: 2.5rem;
    }

    #TulpaIcon {
        width: 500px;
        top: 80px;
    }
}

@media (max-height: 850px) {
    body {
        position: relative;
    }

    .impressum {
        position: absolute;
        top: 850px;
        height: 30px;
    }
}