.Mäuschen {
    background-image: url(../img/tulpaPic/mausi_f.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    height: 80px;
    width: 80px;
    float: left;
    pointer-events: none;
}

.Mäuschen_Front {
    background-image: url(../img/tulpaPic/mausi_f.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Mäuschen_Back {
    background-image: url(../img/tulpaPic/mausi_b.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Maus {
    background-image: url(../img/tulpaPic/maus_f.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    height: 80px;
    width: 80px;
    float: left;
    pointer-events: none;
}

.Maus_Front {
    background-image: url(../img/tulpaPic/maus_f.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Maus_Back {
    background-image: url(../img/tulpaPic/maus_b.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Wehrwolf {
    background-image: url(../img/tulpaPic/Wehrwolf_Front.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    height: 80px;
    width: 80px;
    float: left;
    pointer-events: none;
}

.Wehrwolf_Front {
    background-image: url(../img/tulpaPic/Wehrwolf_Front.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Wehrwolf_Back {
    background-image: url(../img/tulpaPic/Wehrwolf_Back.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Kampfmaus {
    background-image: url(../img/tulpaPic/kmaus_f.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    height: 80px;
    width: 80px;
    float: left;
    pointer-events: none;
}

.Kampfmaus_Front {
    background-image: url(../img/tulpaPic/kmaus_f.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Kampfmaus_Back {
    background-image: url(../img/tulpaPic/kmaus_b.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Kaninchen {
    background-image: url(../img/tulpaPic/kaninchen_f.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    height: 80px;
    width: 80px;
    float: left;
    pointer-events: none;
}

.Kaninchen_Front {
    background-image: url(../img/tulpaPic/kaninchen_f.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Kaninchen_Back {
    background-image: url(../img/tulpaPic/kaninchen_b.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Hase {
    background-image: url(../img/tulpaPic/hase_f.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    height: 80px;
    width: 80px;
    float: left;
    pointer-events: none;
}

.Hase_Front {
    background-image: url(../img/tulpaPic/hase_f.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Hase_Back {
    background-image: url(../img/tulpaPic/hase_b.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Kaninchen_des_Todes {
    background-image: url(../img/tulpaPic/kk_f.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    height: 80px;
    width: 80px;
    float: left;
    pointer-events: none;
}

.Kaninchen_des_Todes_Front {
    background-image: url(../img/tulpaPic/kk_f.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Kaninchen_des_Todes_Back {
    background-image: url(../img/tulpaPic/kk_b.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Streuner {
    background-image: url(../img/tulpaPic/streuner_f.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    height: 80px;
    width: 80px;
    float: left;
    pointer-events: none;
}

.Streuner_Front {
    background-image: url(../img/tulpaPic/streuner_f.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Streuner_Back {
    background-image: url(../img/tulpaPic/streuner_b.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Wachhund {
    background-image: url(../img/tulpaPic/wachhund_f.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    height: 80px;
    width: 80px;
    float: left;
    pointer-events: none;
}

.Wachhund_Front {
    background-image: url(../img/tulpaPic/wachhund_f.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Wachhund_Back {
    background-image: url(../img/tulpaPic/wachhund_b.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Schutzhund {
    background-image: url(../img/tulpaPic/schutzhund_f.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    height: 80px;
    width: 80px;
    float: left;
    pointer-events: none;
}

.Schutzhund_Front {
    background-image: url(../img/tulpaPic/schutzhund_f.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Schutzhund_Back {
    background-image: url(../img/tulpaPic/schutzhund_b.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Kleiner_Wolf {
    background-image: url(../img/tulpaPic/k_wolf_f.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    height: 80px;
    width: 80px;
    float: left;
    pointer-events: none;
}

.Kleiner_Wolf_Front {
    background-image: url(../img/tulpaPic/k_wolf_f.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Kleiner_Wolf_Back {
    background-image: url(../img/tulpaPic/k_wolf_b.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Wolf {
    background-image: url(../img/tulpaPic/wolf_f.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    height: 80px;
    width: 80px;
    float: left;
    pointer-events: none;
}

.Wolf_Front {
    background-image: url(../img/tulpaPic/wolf_f.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Wolf_Back {
    background-image: url(../img/tulpaPic/wolf_b.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Böser_Wolf {
    background-image: url(../img/tulpaPic/b_wolf_f.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    height: 80px;
    width: 80px;
    float: left;
    pointer-events: none;
}

.Böser_Wolf_Front {
    background-image: url(../img/tulpaPic/b_wolf_f.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Böser_Wolf_Back {
    background-image: url(../img/tulpaPic/b_wolf_b.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Zosse {
    background-image: url(../img/tulpaPic/zossen_f.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    height: 80px;
    width: 80px;
    float: left;
    pointer-events: none;
}

.Zosse_Front {
    background-image: url(../img/tulpaPic/zossen_f.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Zosse_Back {
    background-image: url(../img/tulpaPic/zossen_b.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Treues_Ross {
    background-image: url(../img/tulpaPic/treuers_ross_f.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    height: 80px;
    width: 80px;
    float: left;
    pointer-events: none;
}

.Treues_Ross_Front {
    background-image: url(../img/tulpaPic/treuers_ross_f.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Treues_Ross_Back {
    background-image: url(../img/tulpaPic/treues_ross_b.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Streitross {
    background-image: url(../img/tulpaPic/streitross_f.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
    height: 80px;
    width: 80px;
    float: left;
    pointer-events: none;
}

.Streitross_Front {
    background-image: url(../img/tulpaPic/streitross_f.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Streitross_Back {
    background-image: url(../img/tulpaPic/streitross_b.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Trainer_02 {
    background-image: url(../img/textures/trainer02_profile.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}